/*landing_page*/

body {
    display: flex;
    flex-direction: column;
    font: hero;
}

header {
    display: flex;
    background-color: #1f2937;
    height: 45px;
    justify-content: space-between;
    padding-left: 150px ;
    padding-right: 150px;
    align-items: center;     
}

footer {
    background-color: #1f2937;
    bottom:0;
    position: fixed;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.menu {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;  
}

.top {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    /*height: 300px;*/
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.block {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-content: left;
    padding-right: 30px;
    gap: 10px;
    
}

.awe {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
    width: 350px;
    flex-wrap: wrap;
}

.small {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    
    
}

button {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    padding: 5px 15px;
    border-radius: 6px;
    border: none;
    margin-top: 10px;
    color: #f9faf8;
    

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
   
    
}