/*landing_page*/

body {
    display: flex;
    flex-direction: column;
    font: hero;
    font-size: 18px;
}

header {
    display: flex;
    background-color: #1f2937;
    height: 45px;
    justify-content: space-between;
    padding-left: 150px ;
    padding-right: 150px;
    align-items: center;     
}

footer {
    background-color: #1f2937;
    bottom:0;
    position: fixed;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #f9faf8;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.menu {
    display: flex;
    color: #E5E7EB;
    gap: 40px;  
}

.top {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    /*height: 300px;*/
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 150px;
    padding-right: 150px;
}

.block {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-content: left;
    padding-right: 30px;
    gap: 10px;
    
}

.awe {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
    width: 350px;
    flex-wrap: wrap;
}

.small {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    
    
}

button {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    padding: 5px 15px;
    border-radius: 6px;
    border: none;
    margin-top: 10px;
    color: #f9faf8;
    
}

.left {
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-right: 50px;
}

.mid  {
    display: flex;
    flex-direction: column;
    color:#1f2937;
    justify-content: center;
    padding-bottom: 100px;
}

.random {
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.card {
    border: 3px solid #3882F6;
    width: 160px;
    height: 160px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.buffer {
    display: flex;
    justify-content: center;
    gap: 100px;
    
}

.line {
    display: flex;
    flex-wrap: wrap;
    width: 160px;
}

.third {
    display: flex;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    padding-left: 300px;
    padding-right: 300px;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;

}

.quote {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.author {
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    padding-right: 150px;
    padding-top: 10px;
}

.fourth {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
}


.tele {
    border-radius: 8px;
    width: 800px; 
    height: auto;
    background-color: #3882F6;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;

}

.call {
    font-weight: bold;
}

.slp {
    font-weight: normal;
    padding-top: 10px;
}

.plp {
    border: 2px solid #f9faf8;
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}